* {
  box-sizing: border-box;
}

body,
html {
  font-family: "Gill Sans Mt", sans-serif;
  @font-face {
    src: url("../assets/fonts/Gill Sans Mt.ttf") format("truetype");
    font-family: "Gill Sans Mt", sans-serif;
  }
}

body::-webkit-scrollbar {
  display: none;
}

:root {
  --background: #ffffff;
  --division: #fbf6f1;
  --text: #ebd9c1;
  --hovercard: #2f8d8e;
  --hover: #1d5c5d;
  --basecolor: #1a3836;
  --typo: "Gill Sans Mt", sans-serif;
}

/*--------------------------------------------------------- 
# Styles Généraux 
---------------------------------------------------------*/ 
header{
}

h1{
}

footer{
}

/*---------------------------------------------------------- 
# Section Hero  
----------------------------------------------------------*/ 
section.hero{
  margin-top: 160px;
}