nav {
    background-color: var(--basecolor);
}




/*nav {
    background-color: var(--basecolor);
}

.logo{
    width: 100px;
    margin-top: 45px;
}

footer{
    background-color: var(--basecolor);
}*/