
nav {
  background-color: var(--basecolor);
}

.hero {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 130px;
  width: 100%;
  height: 50%;
}

.card {
  border: none;
  background-color: var(--hovercard);
  box-shadow: 10px 10px 10px var(--basecolor);
}

h1 {
  margin-top: 5px;
  color: var(--text);
  font-size: 50px;
}

h2 {
  color: var(--text);
}

.premierlink {
  position: absolute;
  bottom: 120px;
}

.deuxiemelink {
  position: absolute;
  bottom: 110px;
}

.troisiemelink {
  position: absolute;
  bottom: 100px;
}

.boutontele {
  position: absolute;
  top: 700px;
}

.nav-link {
  color: var(--text);
  font-size: 1.3em;
}

.nav-item #no1{
  position: absolute;
  top: 40px;
  left: 300px;
}

.nav-item #no2{
  position: absolute;
  top: 40px;
  left: 450px;
}

.nav-item #no3{
  position: absolute;
  top: 40px;
  left: 635px;
}

.nav-pills {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.nav-link:hover {
  background-color: var(--hover);
  color: var(--text);
}

footer {
  position:fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--basecolor);
}

footer p {
  color: var(--text);
}

.bouton {
  background-color: var(--basecolor);
  width: 350px;
  height: 80px;
  border: none;
  border-radius: 35px;
  color: var(--text);
  font-size: 35px;
}

.bouton:hover {
  background-color: var(--hover);
}

.footer a {
  text-decoration: none;
  color: var(--text);
}

.footer a:hover {
  color: var(--hovercard);
}

iframe {
  aspect-ratio: 5/9;
  width: 400px;
  border: 3px solid var(--text);
  border-radius: 15px;
  margin: 5px;
}
