body {
  overflow-x: hidden;
}

.index-navbar {
  background-color: var(--basecolor);
}

.navbar-toggler {
  border: none;
  height: 40px;
}

.bi-list {
  color: var(--text);
}

.logo {
  color: var(--text);
}

.pdp {
  border: solid 2px var(--text);
  border-radius: 50%;
}

.input-group-text {
  height: 42px;
  border-radius: 6px 0 0 6px;
}

footer {
  background-color: var(--basecolor);
}

footer p {
  color: var(--text);
}

.list {
  display: flex;
  align-items: flex-start;
  overflow-x: scroll;

  @media (min-width: 500px) {
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
}

.list::-webkit-scrollbar {
  display: none;
}

.filtersList {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.btn-outline-primary {
  margin-right: 5px;
}

.btn-outline-primary:hover {
  color: var(--text);
  background-color: var(--hover);
  border-color: var(--hover);
}

#no3 {
  width: 125px;
}

#no6 {
  width: 104px;
}

#vedette {
  width: 140%;
}

#vedette .card {
  max-width: 200px;
  text-decoration: none;
  color: var(--basecolor);
  margin-right: 10px;
  line-height: 1em;
}

#vedette .card:hover {
  background-color: var(--hovercard);
  color: var(--text);
  border: var(--hovercard);
}

#vedette .card-img-top {
  height: 20vh;
  border-radius: 12px;
  object-fit: cover;
  object-position: 0 0;
}

#vedette .artist-profile {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

#vedette .date-event {
  font-size: 12px;
}

#autre .card {
  margin-bottom: 10px;
  text-decoration: none;
  color: var(--basecolor);
}

#autre .card-body {
  height: 155px;
}

#autre .card-img-top {
  height: 20vh;
  border-radius: 12px;
  object-fit: cover;
  object-position: 0 0;
}

#autre .artist-profile {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.artwork-navbar {
  margin-top: 10px;
}

.artwork-bouton {
  background-color: var(--basecolor);
  border-radius: 50%;
  width: 40px;
}

.artwork-bouton:hover {
  background-color: var(--hover);
}

.bi-chevron-left {
  color: var(--text);
}

.artwork-like {
  background-color: var(--basecolor);
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 40px;
  border: none;
}

.artwork-like:hover {
  background-color: var(--hover);
}

.bi-heart-fill {
  color: var(--text);
}

.artwork-art {
  height: 45vh;
}

.artwork-description {
  position: relative;
  padding: 30px;
  margin-top: -20px;
  border-radius: 20px 20px 0 0;
  background-color: var(--background);
}

.artwork-division-title {
  background-color: var(--basecolor);
  color: var(--text);
  border-radius: 2px;
  font-size: 1.5em;
}

.artwork-division-title p {
  margin-left: 5px;
}

.artwork-about.art-about {
  color: var(--basecolor);
}

#artwork .card-img-top {
  border-radius: 5px 5px 0 0;
  margin-top: -5px;
}

.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ebd9c1'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ebd9c1'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#accordionReservation .btn-primary {
  color: var(--text);
}

#accordionReservation .btn-primary:hover {
  background-color: var(--hover);
  border-color: var(--hover);
}