nav {
  background-color: var(--basecolor);
}

.hero {
  margin-top: 160px;
}

.hero .card {
  border: none;
  background-color: var(--hovercard);
  box-shadow: 10px 10px 10px var(--basecolor);
}

h1 {
  margin-top: 10px;
  color: var(--text);
  font-size: 50px;
}

h2 {
  color: var(--text);
}

.nav-link {
  color: var(--text);
  font-size: 1.3em;
  margin-bottom: 10px;
}

.nav-link:hover {
  color: var(--hover);
}

footer {
  width: 100%;
  background-color: var(--basecolor);
}

footer p {
  color: var(--text);
}

.bouton {
  background-color: var(--basecolor);
  width: 350px;
  height: 80px;
  border: none;
  border-radius: 35px;
  color: var(--text);
  font-size: 35px;
}

.bouton:hover {
  background-color: var(--hover);
  max-width: 350px;
}

.footer a {
  text-decoration: none;
  color: var(--text);
}

.footer a:hover {
  color: var(--hovercard);
}

iframe {
  aspect-ratio: 5/9;
  width: 400px;
  border: 3px solid var(--text);
  border-radius: 15px;
  margin: 5px;
}

#section-features h2 {
  color: var(--basecolor);
  text-align: center;
}

#section-features p {
  color: var(--basecolor);
  text-align: center;
}

#section-features .card {
  background-color: var(--background);
  box-shadow: none;
  height: 40vh;
  margin: 10px;
  padding-top: 25px;
  border-color: var(--hovercard);
}

#section-features {
  background-color: var(--division);
}

.cercle {
  background-color: var(--hovercard);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  opacity: 70%;
}

.n01 {
  margin-left: -45px;
}

#section-testimonials p {
  color: var(--basecolor);
  text-align: center;
}

#section-testimonials h2 {
  color: var(--basecolor);
  text-align: center;
}

#section-testimonials img {
  height: 20vh;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

#section-testimonials .card {
  background-color: var(--division);
  border-color: var(--hovercard);
  color: var(--basecolor);
  height: 45vh;
}

#section-testimonials .card:hover {
  background-color: var(--hovercard);
  border: none;
  color: var(--text);
}

.quote {
  position: absolute;
  top: 10px;
  right: 0;
}

#section-faq {
  background-color: var(--division);
}

#section-faq h2 {
  color: var(--basecolor);
  text-align: center;
}

#accordion {
  border-color: var(--basecolor);
}

.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231a3836'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231a3836'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#section-info {
  background-image: url(../assets/infolettre.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#section-info h2 {
  color: var(--basecolor);
}

.carte-infolettre {
  background-color: rgba(250, 250, 250, 70%)
  
}

.bi-envelope-at {
  margin-top: -80px;
  margin-left: 8px;
}

.modal-title {
  color: var(--basecolor);
}

